
/* Style for the header element */
.user-profile-header {
  display: flex;
  width: 800px;
  height: 450px;
  flex-direction: column;
  background-color: #f6ae2b;
  align-items: center;
  background-image: url('/images/texture.png');
  margin-top: 100px;
  margin-left: 100px;
  justify-content: center;
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

/* Style for the navigation title */
.nav-title {
  font-size: 55px;
}

/* Style for the avatar container */
.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style for the user name container */
.user-name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: gray;
}

.first-name {
  color: white;
}

.last-name {
  font-weight: 350;
  color: white;
}


/* Tablet and smaller */
@media only screen and (max-width: 1024px) {

  .user-profile-header {
    display: none;
  }

}