nav {
  display: flex;
  height: 120px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
}

.nav-title {
  font-family: "Bungee", sans-serif;
}

.right-text {
  display: flex;
  margin-left: auto;
  flex-direction: column;
  align-items: center;
}

.arrows {
  color: #eb0a0a;
}
