.new-tweet {
  display: flex;
  flex-direction: column;
}

.tweet-label {
  font-weight: bold;
}

textarea {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  border-bottom: solid;
  padding-bottom: 0px;
  margin: 10px 0;
}

.submit-and-counter {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
}

.counter-negative {
  color: red;
}

button {
  color: white;
  padding: 10px 20px;
  border: none;
  background-color: #4056A1;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #304E91;
}
