/* Style for the .new-tweet container */
.new-tweet {
  display: flex;
  flex-direction: column; /* Stacks the children vertically */
}

/* Style for the tweet label (the text above the textarea) */
.tweet-label {
  font-weight: bold;
}

/* Style for the textarea */
textarea {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  border-bottom: solid;
  padding-bottom: 0px;
  margin: 10px 0;
}

/* Style for the submit and counter section (button and counter) */
.submit-and-counter {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
}

/* Style for the counter when the character limit is exceeded */
.counter-negative {
  color: red;
}

/* Style for the submit button */
button {
  color: white;
  padding: 10px 20px;
  border: none;
  background-color: #4056A1;
  font-size: 20px;
  cursor: pointer;
}

/* Hover effect for the button */
button:hover {
  background-color: #304E91;
}

/* Stle for warning message */
#error-messages {
  color: red;
  border-radius: 5px;
  border: 3px solid red;
  padding: 10px;
  font-size: 25px;
  text-align: center;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#error-messages::before {
  content: "\26D4"; /* Adds triangle at the start */
}

#error-messages::after {
  content: "\26D4"; /* Adds triangle at the end */
}

.hidden {
  display: none;
}
