.new-tweet {
  display: flex;
  flex-direction: column;
}

textarea {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  border-bottom: solid;
  padding-bottom: 0px;
}

textarea::placeholder {
  font-weight: bold;
}

.submit-and-counter {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
}

button {
  color: white;
  background-color: #4056A1;
}
